In [2]:
from generate_cases import generate_views, view_to_natural_language

In [3]:
import pandas as pd

In [4]:
views = generate_views(
    n_views=100,
    max_conjuncts=3,
    max_disjuncts=3,
    generate_supposition=True,
    neg_prob=0.2,
)

In [5]:
# Get all ordered pairs of views
premises = [(v1, v2) for v1 in views for v2 in views]

In [ ]:
from pyetr.view import View

def premises_to_natural_language(premises: tuple[View, ...]) -> tuple[str, ...]:
    return tuple(view_to_natural_language(p) for p in premises)

In [9]:
df = pd.DataFrame(premises, columns=["p1", "p2"])

In [10]:
df.head()

,p1,p2
0,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv..."
1,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{~Four()~Five()Three()}^{Seven(),~Ten()}"
2,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...",{~Six()~Five()}^{Six()}
3,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{~Two(),~Queen()~Seven()}^{~Four(),Four()}"
4,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{Ten()Five()}^{Ten()Five(),Ten()~Five(),~Five()}"

In [11]:
df["p1_nl"] = df["p1"].apply(view_to_natural_language)
df["p2_nl"] = df["p2"].apply(view_to_natural_language)

In [12]:
df.head()

,p1,p2,p1_nl,p2_nl
0,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","if either there is a ten and a nine, or there ...","if either there is a ten and a nine, or there ..."
1,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{~Four()~Five()Three()}^{Seven(),~Ten()}","if either there is a ten and a nine, or there ...",if there is a three and not a four and not a f...
2,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...",{~Six()~Five()}^{Six()},"if either there is a ten and a nine, or there ...","if there is not a six and not a five, then the..."
3,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{~Two(),~Queen()~Seven()}^{~Four(),Four()}","if either there is a ten and a nine, or there ...","if either there is not a two, or there is not ..."
4,"{Ten()Nine(),Eight()Ten()Five()}^{Eight(),~Fiv...","{Ten()Five()}^{Ten()Five(),Ten()~Five(),~Five()}","if either there is a ten and a nine, or there ...","if there is a ten and a five, then either ther..."

In [13]:
len(df)

1000000