In [1]:
import pandas as pd

from generate_cases import generate_views, view_to_natural_language
from pyetr.inference import (
    default_inference_procedure,
    classically_valid_inference_procedure,
)

In [2]:
views = generate_views(
    n_views=400,
    max_conjuncts=3,
    max_disjuncts=3,
    generate_supposition=True,
    neg_prob=0.2,
)

In [3]:
# Get all ordered pairs of views
premises = [(v1, v2) for v1 in views for v2 in views]

In [4]:
df = pd.DataFrame(premises, columns=["p1", "p2"])

In [5]:
df.head()

,p1,p2
0,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{Five()~Eight(),Ace(),Five()Three()Eight()}^{A..."
1,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{~Three()Ten()One(),Six()Four(),Queen()}^{}"
2,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{Three()~Seven()One(),Jack()Two()Ace(),~Seven(..."
3,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...",{Queen()Three()}^{~Ten()~Six()Four()}
4,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...",{Nine()One()}^{}

In [6]:
df["p1_nl"] = df["p1"].apply(view_to_natural_language)
df["p2_nl"] = df["p2"].apply(view_to_natural_language)

In [7]:
df.head()

,p1,p2,p1_nl,p2_nl
0,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","if either there is an ace and an eight, or the...","if either there is an ace and an eight, or the..."
1,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{~Three()Ten()One(),Six()Four(),Queen()}^{}","if either there is an ace and an eight, or the...",either there is a ten and a one and not a thre...
2,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{Three()~Seven()One(),Jack()Two()Ace(),~Seven(...","if either there is an ace and an eight, or the...",either there is a three and a one and not a se...
3,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...",{Queen()Three()}^{~Ten()~Six()Four()},"if either there is an ace and an eight, or the...",if there is a four and not a ten and not a six...
4,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...",{Nine()One()}^{},"if either there is an ace and an eight, or the...",there is a nine and a one

In [8]:
len(df)

160000

In [9]:
from tqdm.notebook import tqdm
tqdm.pandas()

df["etr_c"] = df.progress_apply(lambda row: default_inference_procedure([row["p1"], row["p2"]]), axis=1)

  0%|          | 0/160000 [00:00<?, ?it/s]

In [10]:
df.head()

,p1,p2,p1_nl,p2_nl,etr_c
0,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","if either there is an ace and an eight, or the...","if either there is an ace and an eight, or the...","{Five()~Eight(),~Ace()~Eight(),Five()Three()Ei..."
1,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{~Three()Ten()One(),Six()Four(),Queen()}^{}","if either there is an ace and an eight, or the...",either there is a ten and a one and not a thre...,"{Five()~Eight(),~Ace()~Eight(),Five()Three()Ei..."
2,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...","{Three()~Seven()One(),Jack()Two()Ace(),~Seven(...","if either there is an ace and an eight, or the...",either there is a three and a one and not a se...,"{Five()~Eight(),~Ace()~Eight(),Five()Three()Ei..."
3,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...",{Queen()Three()}^{~Ten()~Six()Four()},"if either there is an ace and an eight, or the...",if there is a four and not a ten and not a six...,"{Five()~Eight(),~Ace()~Eight(),Five()Three()Ei..."
4,"{Five()~Eight(),Ace(),Five()Three()Eight()}^{A...",{Nine()One()}^{},"if either there is an ace and an eight, or the...",there is a nine and a one,"{Five()~Eight(),~Ace()~Eight(),Five()Three()Ei..."

In [11]:
cat_c_df = df[df["etr_c"].apply(lambda x: len(x.stage) == 1 and not x.is_verum)]
cat_c_df[
    (cat_c_df["p2"].apply(lambda x: len(x.stage) > 1)) &
    (cat_c_df["p1"].apply(lambda x: len(x.stage) > 1))
]

Empty DataFrame
Columns: [p1, p2, p1_nl, p2_nl, etr_c]
Index: []